<h1><%= t('.title_page') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.location') %></th>
      <th><%= t('.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.title %></td>
        <td><%= room.location %></td>
        <td><%= room.description %></td>
        <td><%= link_to t('.show'), room %></td>
        <td><%= link_to t('.edit'), edit_room_path(room) %></td>
        <td><%= link_to t('.destroy'), room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new'), new_room_path %>
